@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 550;
  /* overflow: hidden; */
}
.i:hover{
    background-color: orange;
  }
.logo-img{
    height: 40px;
    object-fit: contain;
  }
  .carousel-inner img{
    height: 360px;
  }
  .carousel-inner.carousel-item .active img{
    height: 360px;
  }
  .carousel-caption h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .carousel-item .carousel-caption .text-white h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .Get-Quote button{
    width: 90px;
    height: 41px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color:white
  }
  .icon-bar {
    position: fixed;
    top: 40%;
    left: 0px;
    z-index: 99;
  }
  .icon-bar div {
    display: block;
    text-align: center;
    padding: 10px 13px;
    transition: all 0.3s ease;
    color: white;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 50px;
    margin-top: 20px;
  }
  .phone{
    background-color: #0000ff;
  }
  .whatapp{
    background-color: #008000;
  }
  .message{
    background-color: #ff0000;
  }
  .order li{
    display: flex;

  }
  
  /* about css */
  .about-image img{
    width: 212px;
    height: auto;
    /* margin-left: 15px; */
  }
  .about-contant{
    text-align: center;
  }
  .about-contant .small-title{
    color: orange;
    font-size: 13px;
  
  }
  .about-contant p{
    color: #4b5280;
    font-size: 14px;
  }
  .about-contant h2{
    font-weight: 600;
  }
  .list h3{
    color: #4b5280;
    font-size: 20px;
    font-weight: 500;
  
  }
  .container{
    margin-top: 300px;
}
.animation{
    background-color: #080e32;
}

@media(min-width: 236px){
    .logo-img{
      max-width: 126px;
    }
    .container{
        position: relative;
        bottom: 140px;
    }
    .container h1{
        font-size: 33px;
        font-weight: 900;
        color: white;
        margin-left: 57px;
    }
    .about-imag img{
        max-width: 143px;
        margin-top: 131px
    }
}
@media(min-width:576px){
    .logo-img{
      max-width: 210px;
    }
    .container{
        position: relative;
        bottom: 100px;
    }
    .container h1{
        font-size: 50px;
        font-weight: 900;
        color: white;
    }
    .about-imag img{
        max-width: 660px;
        margin-top: 131px
    }
}
@media(min-width: 768px){
    .logo-img{
      max-width: 210px;
    }
    .container{
        position: relative;
        bottom: 100px;
    }
    .container h1{
        font-size: 50px;
        font-weight: 900;
        color: white;
    }
}
@media(min-width: 992px){
    .logo-img{
      max-width: 210px;
    }
    .container{
        position: relative;
        bottom: 100px;
    }
    .container h1{
        font-size: 50px;
        font-weight: 900;
        color: white;
    }
}
@media(min-width: 1200px){
    .logo-img{
      max-width: 210px;
    }
    .container{
        position: relative;
        bottom: 100px;
    }
    .container h1{
        font-size: 50px;
        font-weight: 900;
        color: white;
    }
    .stucture{
        display: flex;
    }
    .about-imag img{
        max-width: 660px;
        margin-top: 131px
    }
    .full-contant {
        max-width: 576px;
        margin-top: 60px;
        font-size: 15px;
        margin-left: 17px;
    }

    .about-contant{
        margin-top: 13px;
    }
}
@media(min-width: 1400px){
    .logo-img{
        max-width: 210px;
      }
      .container{
          position: relative;
          bottom: 100px;
      }
      .container h1{
          font-size: 50px;
          font-weight: 900;
          color: white;
      }
      .stucture{
          display: flex;
      }
      .about-imag img{
          max-width: 660px;
          margin-top: 131px
      }
      .full-contant {
          max-width: 576px;
          margin-top: 60px;
          font-size: 15px;
          margin-left: 17px;
      }
  
      .about-contant{
          margin-top: 13px;
      }
       /* .img-thumbnail .image-1{
        border-radius: 9.25rem;
      }
      .multi-images .image-2 .img-thumbnail{
        border-radius: 9.25rem;
      }
      .multi-images .image-3 .img-thumbnail{
        border-radius: 9.25rem;
      }
      .multi-images .image-4 .img-thumbnail{
        border-radius: 9.25rem;
      } */

      .img-thumbnail-1{
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        max-width: 100%;
        height: auto;
    } 
}
    
    
    

      
    
