@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 550;
  max-width: 1350px;
}
.i:hover{
    background-color: orange;
  }
.logo-img{
    height: 40px;
    object-fit: contain;
  }
  .carousel-inner img{
    height: 360px;
  }
  .carousel-inner.carousel-item .active img{
    height: 360px;
  }
  .carousel-caption h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .carousel-item .carousel-caption .text-white h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .Get-Quote button{
    width: 90px;
    height: 41px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color:white
  }
  .icon-bar {
    position: fixed;
    top: 40%;
    left: 0px;
    z-index: 99;
  }
  .icon-bar div {
    display: block;
    text-align: center;
    padding: 10px 13px;
    transition: all 0.3s ease;
    color: white;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 50px;
    margin-top: 20px;
  }
  .phone{
    background-color: #0000ff;
  }
  .whatapp{
    background-color: #008000;
  }
  .message{
    background-color: #ff0000;
  }
  .order li{
    display: flex;
}

@media(min-width: 236px){

  .logo-img{
    max-width: 126px;
  }
  .top-heading {
  position: relative;
  left: -1px;
  bottom: -63px;
  text-align: center;
  color: white ; 

  }
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 50px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 407px;
  }
  .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    max-width: 213px;
    height: auto;
  }
  .sub-title{
    font-size: 12px;
    text-align: center;
    color: orange;
  }
  .contant h1{
    font-size: 31px;
    font-weight: 800;
    text-align: center;
    margin-top: 15px;
  }

    
}
@media(min-width: 576px){
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 500px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 970px;
  }
    .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    max-width: 482px;
    height: auto;
  }
}
@media(min-width: 768px){
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 500px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 1000px;
  }
  .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    max-width: 660px;
    height: auto;
  }
  
}
@media(min-width: 992px){
  .container-fluid img{
    position: relative;
    left: 140px;
    top: 64px;
    max-width: 319px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 543px;
  }
  .top-heading {
    position: relative;
    left: 584px;
    bottom: 268px;
    color: white ; 
    max-width: 550px;
    text-align: initial;
  }
  .top-heading h1{
    font-weight: 800;
    font-size: 47px;
  }
  .top-heading p{
    font-size: 19px;
  }
  .btn-warning{
    width: 130px;
    height: 50px;

  }
  .float-left {
    max-width: 400px;
    height: auto;
    margin-left: 516px;
  }
}

@media(min-width: 1200px){
  .container-fluid img{
    position: relative;
    left: 140px;
    top: 64px;
    max-width: 398px;
  }
  .top-heading {
    position: relative;
    left: 607px;
    bottom: 397px;
    color: white ; 
    max-width: 550px;
    text-align: initial;
  }
    .top-heading h1{
      font-weight: 800;
      font-size: 60px;
    }
    .top-heading p{
      font-size: 16px;
      margin-top: 28px;
    }
    .btn-warning{
      width: 130px;
      height: 50px;

    }
    .container-fluid{
      background-color: #080e32;
      height: 661px;
    }
    .float-left {
      max-width: 400px;
      height: auto;
      margin-left: 700px;
    }
  /* .top-heading h1 {
    margin-bottom: 20px;
  }
  .top-heading p{
    margin-bottom: 27px;
  } */
    
}