@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap");
body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 550;
  max-width: 1350px;
}
.i:hover{
    background-color: orange;
  }
.logo-img{
    height: 40px;
    object-fit: contain;
  }
  .carousel-inner img{
    height: 360px;
  }
  .carousel-inner.carousel-item .active img{
    height: 360px;
  }
  .carousel-caption h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .carousel-item .carousel-caption .text-white h1{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .Get-Quote button{
    width: 90px;
    height: 41px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color:white
  }
  .icon-bar {
    position: fixed;
    top: 40%;
    left: 0px;
    z-index: 99;
  }
  .icon-bar div {
    display: block;
    text-align: center;
    padding: 10px 13px;
    transition: all 0.3s ease;
    color: white;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 50px;
    margin-top: 20px;
  }
  .phone{
    background-color: #0000ff;
  }
  .whatapp{
    background-color: #008000;
  }
  .message{
    background-color: #ff0000;
  }
  .order li{
    display: flex;
}


@media(min-width: 236px){

  .logo-img{
    max-width: 126px;
  }
  .top-heading {
  position: relative;
  left: -1px;
  bottom: -63px;
  text-align: center;
  color: white ; 

  }
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 50px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 407px;
  }
  .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    max-width: 213px;
    height: auto;
  }
  .sub-title{
    font-size: 12px;
    text-align: center;
    color: orange;
    margin-top: 65px;
  }
  .contant h1{
    font-size: 31px;
    font-weight: 800;
    text-align: center;
    margin-top: 15px;
  }

  .live-image{
    max-width: 206px;
    height: auto;
  }
  .full-contant{
    text-align: center;
  }
  .content-list{
    text-align: initial;
  }
  li{
    display: flex;
  }
  .content-list{
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-weight: 800;
    font-size: 15px;
  }
  .circle-box{
    margin-top: 53px;
    display: flex;
    justify-content: center;
  }
  .circle-box button{
    width: 60px;
    height: 60px;
    border-radius: 70px;
    border: none;
    margin-top: -30px;
    background-color: antiquewhite;
  }
  .card{
    background-color: #1b1464;
    width: 200px;
    margin-top: 40px;
    
  }
  .card-title{
    text-align: center;
    color: white;
  }
  .card-body p{
    color: white;
    text-align: center;
  }
  .get-start h1{
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 1.75rem;
    font-weight: 800;
  }
  /* form {
    height: 490px;
    background-color: #f68b1f;
    margin-top: -90px;
  } */
  .btn-danger{
    margin-left: 55px;
    margin-top: 15px; 
    width: 130px;
    height: 40px;
  }


    
}
@media(min-width: 576px){
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 500px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 970px;
  }
    .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    display: flex;
    max-width: 482px;
    height: auto;
  }
  .live-image{
    max-width: 505px;
    height: auto;
  }
  .content-list{
    display: flex;
    gap: 21px;
    font-weight: 800;
    font-size: 15px;
  }
  .card {
    background-color: #1b1464;
    width: 370px;
    margin-top: 40px;
  }
  .btn-danger{
    margin-left: 215px;
    margin-top: 15px; 
    width: 130px;
    height: 40px;
  }
  .get-start h1{
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 1.75rem;
    font-weight: 800;
  }
  
}
@media(min-width: 768px){
  .container-fluid img{
    position: relative;
    left: 80px;
    top: 64px;
    max-width: 500px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 1000px;
  }
  .top-heading h1{
    font-weight: 800px;
    font-size: 27px;
  }
  .float-left{
    max-width: 660px;
    height: auto;
  }
  .live-image{
    max-width: 690px;
    height: auto;
  }
  .card {
    background-color: #1b1464;
    width: 370px;
    margin-top: 40px;
  }
  .btn-danger{
    margin-left: 315px;
    margin-top: 15px; 
    width: 130px;
    height: 40px;
  }
  .get-start h1{
    text-align: center;
    position: relative;
    top: 140px;
    font-size: 1.75rem;
    font-weight: 800;
  }
 
  
}
@media(min-width: 992px){
  .container-fluid img{
    position: relative;
    left: 140px;
    top: 64px;
    max-width: 319px;
  }
  .container-fluid{
    background-color: #080e32;
    height: 543px;
  }
  .top-heading {
    position: relative;
    left: 584px;
    bottom: 268px;
    color: white ; 
    max-width: 550px;
    text-align: initial;
  }
  .top-heading h1{
    font-weight: 800;
    font-size: 47px;
  }
  .top-heading p{
    font-size: 19px;
  }
  .btn-warning{
    width: 130px;
    height: 50px;

  }
  .float-left {
    max-width: 479px;
    height: auto;
    margin-left: 0px;
  }
  .live-image{
    display: flex;
    max-width: 600px;
    height: auto;
  }
  .process{
    
  }
  .card {
    background-color: #1b1464;
    width: 295px;
    margin-top: 40px;
  }
  .btn-danger{
    margin-left: 430px;
    margin-top: 15px; 
    width: 130px;
    height: 40px;
  }
  .get-start h1{
    text-align: center;
    position: relative;
    top: 140px;
    font-size: 1.75rem;
    font-weight: 800;
  }
}

@media(min-width: 1200px){
  .logo-img{
    max-width: 190px;
  }
  .container-fluid img{
    position: relative;
    left: 140px;
    top: 64px;
    max-width: 398px;
  }
  .top-heading {
    position: relative;
    left: 607px;
    bottom: 397px;
    color: white ; 
    max-width: 550px;
    text-align: initial;
  }
    .top-heading h1{
      font-weight: 800;
      font-size: 60px;
    }
    .top-heading p{
      font-size: 16px;
      margin-top: 28px;
    }
    .btn-warning{
      width: 130px;
      height: 50px;

    }
    .container-fluid{
      background-color: #080e32;
      height: 661px;
    }
    .float-left {
      max-width: 470px;
      height: auto;
      margin-left: 125px;
    }
    .container{
      max-width: 1207px;
    }
    .overview-box{
      display: flex;
      flex-wrap: wrap;
    }
    .overview-content{
      /* margin-left: 86px; */
      width: 500px;
    }
    .sub-title{
      font-size: 12px;
      text-align: initial;
      color: orange;
    }
    .contant h1{
      font-size: 31px;
      font-weight: 800;
      text-align: initial;
    }
    .live-image{
      max-width: 706px;
      height: auto;
    }
    .process{
    display: flex;
    }
    .live-image{
      max-width: 690px;
      height: auto;
    }

    .card {
      background-color: #1b1464;
      width: 370px;
      margin-top: 40px;
    }
    .btn-danger{
      margin-left: 605px;
      margin-top: 15px; 
      width: 130px;
      height: 40px;
    }
    .get-start h1{
      text-align: center;
      position: relative;
      top: 150px;
      font-size: 1.75rem;
      font-weight: 800;
    }
 

    
}